<a href="https://colab.research.google.com/github/AnnisaCitraPratiwi/MK-SDA-Responsi/blob/main/Praktikum_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 7 SDA 
#Tanggal 31 Maret 2023

In [3]:
nama_asdos = ['Annisa','Lathifah','Vidya','Billa']
print (nama_asdos)

['Annisa', 'Lathifah', 'Vidya', 'Billa']

In [2]:
#menghitung panjang list
nama_asdos = ['Annisa','Lathifah','Vidya','Billa']
print(len(nama_asdos))

['Annisa', 'Lathifah', 'Vidya', 'Billa']
4

In [13]:
#mengakses nilai pada list
nama_asdos = ['Annisa','Lathifah','Vidya','Billa']
print(nama_asdos[0]) #cetak list pertama
print(nama_asdos[1]) #cetak list kedua
print(nama_asdos[2]) #cetak list ketiga
print(nama_asdos[3]) #cetak list keempat
print()
print(nama_asdos[-1]) #cetak list pertama dari kanan/belakang
print(nama_asdos[-2]) #cetak list kedua dari kanan/belakang
print(nama_asdos[-3]) #cetak list ketiga dari kanan/belakang
print(nama_asdos[-4]) #cetak list keempat dari kanan/belakang

Annisa
Lathifah
Vidya
Billa

Billa
Vidya
Lathifah
Annisa

In [15]:
#mengganti nilai list
nama_asdos = ['Annisa','Lathifah','Vidya','Billa']
print('List sebelum dirubah = ', nama_asdos)
nama_asdos [1] = 'Putri'
nama_asdos [2] = 'Sinta'
print('List setelah dirubah = ', nama_asdos)

List sebelum dirubah =  ['Annisa', 'Lathifah', 'Vidya', 'Billa']
List setelah dirubah =  ['Annisa', 'Putri', 'Sinta', 'Billa']

In [18]:
#mengganti method pada list
nama_asdos = ['Annisa','Lathifah','Vidya','Billa']
print('List sebelum dirubah = ', nama_asdos)
nama_asdos [1] = 'Putri'
nama_asdos [2] = 'Sinta'
print('List setelah dirubah = ', nama_asdos)
print()
print()
nama_asdos.append ('Ikhsan')
print(nama_asdos)

List sebelum dirubah =  ['Annisa', 'Lathifah', 'Vidya', 'Billa']
List setelah dirubah =  ['Annisa', 'Putri', 'Sinta', 'Billa']


['Annisa', 'Putri', 'Sinta', 'Billa', 'Ikhsan']

In [22]:
#membuat tuple

mahasiswa = ('Kurnia','Siti','Ikhsan','Naufal')
print (mahasiswa)

print()

mahasiswa2 = 'vidya','billa'
mahasiswa3 = 'Lathifah'
mahasiswa4 = ("Annisa,")
print(mahasiswa2)
print(mahasiswa3)
print(mahasiswa4)

print()
print(type(mahasiswa2))
print(type(mahasiswa3))
print(type(mahasiswa4))

('Kurnia', 'Siti', 'Ikhsan', 'Naufal')

('vidya', 'billa')
Lathifah
Annisa,

<class 'tuple'>
<class 'str'>
<class 'str'>

In [24]:
#menghitung jumlah tuple
mahasiswa = ('Kurnia','Siti','Ikhsan','Naufal')
print (mahasiswa)

print()

mahasiswa2 = 'vidya','billa'
mahasiswa3 = 'Lathifah'
mahasiswa4 = ("Annisa,")
print(mahasiswa2[1])
print(mahasiswa3[0])
print(mahasiswa4[0])

('Kurnia', 'Siti', 'Ikhsan', 'Naufal')

billa
L
A

In [27]:
#menggunakan method pada tuple
mahasiswa = ('Kurnia','Siti','Ikhsan','Naufal')
nama = mahasiswa.count('Kurnia')
nama = mahasiswa.index('Kurnia')
print(f"Nama Kurnia disebut sebanyak {nama} kali")
print(f"Nama Kurnia berada di indeks {nama}")

Nama Kurnia disebut sebanyak 0 kali
Nama Kurnia berada di indeks 0

In [ ]:
#menghitung panjang string

In [32]:
#menggabungkan dua buah string
firstname = 'Annisa'
lastname = 'Citra'
fullname = firstname + " " + lastname
print(fullname)

upper = fullname.upper()
lower = fullname.lower()
print()
print ('Method lower : ', lower)
print ('Method upper : ', upper)

Annisa Citra

Method lower :  annisa citra
Method upper :  ANNISA CITRA